html{
  font-family: 'serif', sans-serif;
  font-size: 6.5px;
  scroll-behavior: smooth;
}

body{
  text-align: center;
  background-color: #77797c;
  margin: 5px;
}

*{
  box-sizing: border-box;
}

/*HEADER*/
.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 12vh;
  width: 100%;
  color: #6cd0ff;
}

.nav{
display: flex;
flex-direction: column;
}

.logo{
  height: 150px;
  width: 100%;
}

nav a{
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px 10px;
  line-height:normal;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
nav a:hover{
  background: #7fc7c9;
  border-radius: 50px;
}
.a{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

/*contenido*/
#banner{
background-color: #242e4956;
width: 100%;
height: 30vh;
display: flex;
align-items: center;
align-content: center;
}

.banner__titulo{
display: block;
width: 30vh;
height: 40%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

.banner__titulo h1{
color: white;
font-family: 'serif', sans-serif;
font-size: 2rem;
flex-direction: row;
height: auto;
text-align: center;
margin-left: 5px;
margin-right: 5px;
}

.imgmarcas{
  height: 100%;
  width: 100%;
}

.banner__img {
  width: 20vh;
  height: 50%;
  border-radius: 10%;
  margin-left: 5px;
}

<style>
img.btn-whatsapp {
display: block !important;
position: fixed;
z-index: 9999999;
bottom: 20px;
right: 20px;
cursor: pointer;
border-radius:100px !important;
}
img.btn-whatsapp:hover{
border-radius:100px !important;
-webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
transition-duration: 1s;
}
</style>
main section{
width: 100%;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0 15%;
}

.section__title{
font-size: 4rem;
color: white;
font-family: 'Mouse Memoirs', sans-serif;
height: auto;

}

#us{
background-color: #4c504f;
height: 30vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#us p{
margin-top: 1%;
margin-left: 7%;
margin-right: 7%;
margin-bottom: 3%;
color: white;
font-family: 'Mouse Memoirs', sans-serif;
font-size: 2rem;
text-align: justify;
height: auto;
}

#services{
background-color: #4c504f;
height: auto;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.conatainer{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
}

.img1{
width: 40%;
height: 40%;
border-radius: 10%;
margin: 5% 3% 5% 3%;

}

.contact__item{
  margin: 1em;
  padding: 1em;
  float: left;
  margin-left: 20px;
}

.btn-btn-primary {
  display: contents;
  align-items: center;
  font-size: medium;
  text-decoration-style: dashed;
  color: rgb(20, 20, 167);
  font-family: 'Mouse Memoirs', sans-serif;
}

.section__title h2{
font-size: 6rem;
color: white;
font-family: 'Mouse Memoirs', sans-serif;
height: auto;
justify-content: center;
text-align: center;
margin-top: 10%;
}

#services a{
margin-top: 5%;
margin: auto;
font-size: 4rem;
font-family: 'Mouse Memoirs', sans-serif;
text-align: center;
border-radius: 10px;
height:auto;
width: 100%;
justify-content:center;
}
/*contacto*/
#contact{
background-color: #2e3130;
width: auto;
height: 100%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
padding: 3%;
}

#contact .section__title{
color: white;
justify-content: center;
padding-bottom: 20px;
}

.contact__item {
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 3%;
}

.contact__image{
font-size: 4rem;
color: white;
padding: 5px;
}

.contact__title{
font-size: 2.5rem;
text-decoration: none;
color: white;
margin: 3;
}

.form__map{
  display: flex;
  height: auto;
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
}

  /*FOOTER*/
  footer span{
    height: 20vh;
    width: auto;
    font-size: 2rem;
    color: rgb(19, 19, 20);
  }

@media (min-width: 1000px) {

  .header{
    display: flex;
    height: auto;
    }

  .logocont{
    height: 98vh;
    width: auto;
    display: flex;
  }

  .logo{
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

nav a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height:normal;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
nav a:hover{
  background: #92E1E2;
  border-radius: 50px;
}

#banner {
  background-color: #242e4956;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner__titulo {
  color: rgb(150,150,150);
  width: 30vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: auto;
}


.banner__titulo h1{
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 5rem;
  flex-direction: row;
  height: auto;
  text-align: center;
  text-align: auto;margin-right: 10%;
}


.banner__img {
  width: 80vh;
  height: 80%;
  border-radius: 10%;
}

.imgmarcas {
  height: 65vh;
  width: 100%;
}
.banner__titulo{
  height: 30%;
  width: auto;
}

  <style>
  img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius:100px !important;
  }
  img.btn-whatsapp:hover{
  border-radius:100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  transition-duration: 1s;
  }
  </style>
  main section{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15%;
  }

  .section__title{
  font-size: 6rem;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  height: auto;
  }

  #us {
  background-color: #4c504f;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  #us p {
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 4rem;
  text-align: justify;
  height: auto;
  }

  .services {
  background-color: #2e3130;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100px;
  }
  
  .conatainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  }
  
  .img1 {
  width: 20%;
  height: 20%;
  border-radius: 10%;
  margin: 5% 3% 5% 3%;
  }
  
  .contact__item {
  margin: 1em;
  padding: 1em;
  float: left;
  margin-left: 20px;
  }
  
  .btn-btn-primary {
  display: contents;
  align-items: center;
  width: 20px;
  height: 15px;
  }
  
  .section__title h2 {
  font-size: 6rem;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  height: auto;
  justify-content: center;
  margin-top: 10%;
  }
  
  #services a {
  margin-top: 5%;
  margin: auto;
  font-size: 4rem;
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;
  border-radius: 10px;
  height: auto;
  width: 100%;
  justify-content: center;
  }
  
    /*contacto*/
  #contact {
  background-color: #2e3130;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 3%;
  }
  
  #contact .section__title {
  color: white;
  justify-content: center;
  padding-bottom: 20px;
  }
  
  .contact__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3%;
  }
  
  .contact__image {
  font-size: 6rem;
  color: white;
  padding: 5px;
  }
  
  .contact__title {
  font-size: 3.5rem;
  text-decoration: none;
  color: white;
  margin: 3;
  }
  
  .form__map {
  display: flex;
  height: 500px;
  width: 900px;
  }
  /*FOOTER*/
  footer span {
  height: auto;
  width: auto;
  font-family: italic;
  font-size: 3rem;
  color: rgb(17, 17, 17);
  }
